body {
	background-color:purple;
}
th, td{
	font-weight:bold;
	font-size:150%;
}
#image {
	height:500px;
	width:700px;
	background-image: url("http://f4.bcbits.com/img/a0711054330_16.jpg");
}
#italic {
		font-style: italic;
}
#fonted {
		font-family: Impact, Charcoal, sans-serif;
}