div {
	color:orange;
	text-align:center;
}
body {
	background-color:grey;
	font-family:Impact, Charcoal, sans-serif;
}
#header {
		font-family:Impact, Charcoal, sans-serif;
}

@font-face{
	font-family:"Impact";
	src: url('impact.ttf') format('truetype')
}