
body {
	background-color:grey;
}
#header {
		font-family:Impact, Charcoal, sans-serif;
}

a {
	font-family:Impact, Charcoal, sans-serif;
	Text-decoration:underline;
	font-weight:none;
}
 
a:link {
		color: Black;
}

a:visited {
	color: Orange;
}

a:hover {
		color:Blue;
}

a:active {
		font-weight:bold;
		Text-decoration:none;
}
th {
	font-style:italic;
	text-align:center;
}
